body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f5f3f3;
}

#topo {
    background-color: black;
    padding: 20px;
}

#logo {
    width: 150px;
}

h1 {
    color: black;
}

form {
    max-width: 300px;
    margin: 0 auto;
}

label, input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    background-color: #46a530;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #91e72e;
}

#appointment-info {
    margin-top: 20px;
    text-align: left;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

#appointment-info h2 {
    text-align: center;
}

#appointment-info div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

#appointment-info button {
    width: auto;
    padding: 5px 10px;
    margin: 0 5px;
}
